html,body{
    height: 100%;
    margin: 0;
}

.backgroundContainer{
    background: url("../images/forest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widgetWindow{
    background: url("../images/backgroundBlack.png");
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3,205px );
    grid-template-rows: repeat(2, 205px);
    width:  615px;
    height: 410px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
    padding: 95px;
}

.square{
    max-height: 205px;
    max-width: 205px;
}

.aqua{
    background-color: rgb(6,179,219);
}

.green{
    background-color: rgb(78,212,134);
}

.blue{
    background-color: rgb(97,57,246);
}

.yellow{
    background-color: rgb(227,182,61);
}

.red{
    background-color: rgb(220,61,102);
}

.purple{
    background-color: rgb(189,84,205);
}

.weatherPicture{
    width:90px;
    height: 77px;
    padding-top: 45px;
    padding-bottom: 26px;
    padding-right: 57.5px;
    padding-left:57.5px;
}

.cityName{
    width: 205px;
    height: 12px;
    display: grid;
    justify-content: center;
    margin:0;
    padding-bottom: 45px;
}

.weeklyImageContainer{
    height:105px;
    width:205px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weeklyForecast{
    background-color: #b23254;
    width: 205px;
    height:95px;
    font-size: 12px;
    padding: 14px;
}

.tableImageContainer{
    text-align:center;
    padding-top:5px;
}

.tableDegreesText{
    text-align:center;
}
