/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Open Sans', sans-serif;

  замена платному Proxima Nova:
font-family: 'Montserrat', sans-serif;
*/
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.substrate {
  background-color: #4e5860;
  width: 800px;
  height: 600px;
  padding-top: 80px;
}

.weather-widget {
  width: 389px;
  height: 464px;
  margin:0 auto;
  vertical-align: middle;
  box-shadow: 0 21px 20px 1px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.07);
  border-radius: 10px 10px 29px 29px;
  background-color: #f1f8f9;
}
.today-weather{
  position: relative;
}

.refresh-button {
  border: none;
  background: none;
  position: absolute;
  top: 16px;
  right: 17px;
}
.refresh-button::before{
  content: url("../images/refresh_button.png");
}

.today-weather-logo {
  display:inline-block;
  margin: 68px 120px 0px 123px;
}

.middle-ribbon {
  margin-top: 52px;
  height: 69px;
}

.temp {
  position: relative;
  display: inline-block;
  margin: 0 14px 0 22px;
  color: #8d9396;
  font-family: 'Montserrat', sans-serif;
  font-size: 58px;
  font-weight: 200;
  text-transform: uppercase;
  vertical-align: top;
}

.temp__units {
  font-size: 27px;
  position: absolute;
  top: 12px;
}

.weather-location{
  display: inline-block;
  margin-top: 10px;
  margin-right: 53px;
}
.weather-condition {
  margin: 0;
  color: #bac2c6;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 200;
}
.user-location {
  margin: 0;
  color: #a2a9ad;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.date {
  display: inline-block;
  width: 65px;
  height: 69px;
  padding-top: 18px;
  background-color: #54bae6;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
}

.atmospheric-properties {
  width: 389px;
  height: 136px;
  margin-top: 18px;
  padding-top: 46px;
  border-radius: 0 0 10px 10px;
  background-color: #2e3335;
}

.properties-list {
  list-style-type: none;
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.properties-list li {
  display: inline-block;
  margin-right: 35px;
}
.properties-list li::before{
  display: inline-block;
  margin-right: 18px;
  position: relative;
  top: 5px;
}

.properties-list__wind::before{
  content: url(../images/wind.png);
}
.properties-list__humidity::before{
  content: url(../images/humidity.png);
}
.properties-list__sunlight::before{
  content: url(../images/sunlight.png);
}

.scroll {
  list-style-type: none;
  margin: 30px auto;
  padding: 0;
  text-align: center;
}

.scroll__circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.scroll__circle_full {
  background-color: #fff;
}
