@font-face {
    font-family: AvenirNext;
    src: url(font/AvenirNext-Bold.ttf);
}

.main{
    font-family: AvenirNext;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    background: url("img/main-bg.jpg") no-repeat;
    height: 600px;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.weather-widget{
    display: block;
    height: 410px;
    width: 615px;
    vertical-align: middle;

}

.main-block{
    display: inline-block;
    box-sizing: border-box;
    width: 205px;
    height: 205px;
    margin: 0;
    font-size:0;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}

.city-temperature{

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: white;
}

.image-weather{

    width: 90px;
    height: 88px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

}

.days-table{
    font-size: 12px;
    color: white;
    height: 50%;
    width: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: #b83457;
    margin-bottom: 0;
    margin-top: auto;
}



.chicago {
    background-color: #06b3db;
}

.seattle{
    background-color: #4ed486;
}

.brooklyn{
    background-color: #6139f6;
}

.portland{
    background-color: #e3b63d;
}

.days{
    background-color: #dc3d66;

}

.san-jose{
    background-color: #bd54cd;
}

.days .image-weather{
    margin: 20px auto;
    width: 63px;
    height: 63px;
}





